{% extends "base.html.twig" %}

{% block body %}

        <div class="jumbotron mt-4">
            <div class="container mt-4">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    
                {% endfor %}

                
                <div class="row">
                    <div class="col">

                    <h1>{{ item.title}}</h1>

                    <p>{% for categoryname in item.category %}
                        {{ categoryname.name }},
                        
                    {% endfor %} -  
                    {% for tag in item.tags %}
                        <span class="badge bg-light text-dark">{{ tag.name }}</span>
                        
                    {% endfor %}
                    </p>
                           {{item.content}}
                    </div>
            
             </div>
            </div>
        </div>
        
 

{% endblock %}